@import "tailwindcss";


@layer utilities {

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: scale(.95);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-fadeIn {
    animation: fadeIn .5s ease-in-out;
  }
}


html, body {
  width: 100%;
  overflow-x: hidden;
}
